@media all and (max-width: 1170px) {
    .background {
        height: 70vh;
        background-image: url(../obrazy/man-2.jpg);
        position: relative;
    }
      .content {
          position: absolute;
          font-size: 15px;
          top: 20px;
          right: 10px;
          padding: 0;
      }  
    
}

@media all and (max-width: 992px) {
    .background {
        max-height: 50vh;
        background-image: url(../obrazy/man-1.jpg);
        position: relative;
    }
      .content {
          position: absolute;
          font-size: 20px;
          color: black;
          top: 50vh;
          right: 0;
          left: 0;
          text-align: center;
          margin-top: 10px;
      }  
    
}
